#add-web-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  container-type: inline-size;
  width: 100%;
  align-items: center;
  margin-top: 9em;
  background-color: var();
}
@container (width <30rem) {
  #add-web-title-container{
    flex-direction: column;
  }
  .topic{
    font-size: 1.4em;
  }
}


#add-web-save-btn {
  margin-left: auto;
}

.dark-mode #upload-img {
  filter: invert(100%);
}

#add-web-form {
  display: flex;
  width: clamp(10em, 100%, 120em);
  max-width: 40em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
  background-color: var(--white);
  border-radius: 3em;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

#add-web-title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

#add-web-title-label {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.add-web-title-input {
  min-width: 30%;
  border-radius: 5em;
  min-height: 1.5em;
  border: none;
  background-color: var(--soft-gray);
  padding: 0.5em 1em;
  font-size: 1.2em;
  color: var(--black);
}

#add-web-title-input:focus {
  outline: .1em solid var(--blue);
}

#posts-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  margin: 0;
}

.add-post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  width: 80%;
  gap: 1em;
  padding: 1em;
  margin: 0 1em;
  border-radius: 2em;
  border: 0.1em solid var(--blue);
}

.add-post-title-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.add-post-title-label {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.add-post-title-input {
  border-radius: 5em;
  height: 1.5em;
  justify-self: stretch;
  border: none;
  background-color: var(--soft-gray);
  padding: 0.5em 1em;
  margin: 0 1em;
  font-size: 1.2em;
  color: var(--black);
}

.add-post-caption-input{
  padding: 1em;
  border-radius: 1em;
  border: none;
  background-color: var(--soft-gray);
  resize: none;
  color: var(--black);
}

.add-post-images-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.add-post-images-label {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

#remove-post-button { 
  align-self: center;
  background-color: var(--cancel);
  color: var(--white);
  border: 0.075em solid var(--cancel);
  width: 1.5em;
  height: 1.5em;
 }
 #remove-post-button:hover { 
  background-color: var(--cancelhover);
  border: 0.075em solid var(--cancelhover);
 }

.add-post-images {
  min-width: 30%;
  min-height: 1.5em;
  border: none;
  font-size: 1.2em;
}