#search{
  display: flex;
  justify-content: space-between;
  min-width: calc(90% - 8em);
  width: auto;
  min-height: 2.1em;
  border-radius: 2em;
  border: none;
  background-color: var(--white);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
}
#search:focus-within {
  outline: .1em solid var(--blue);
}

#search-bar {
  border: none;
  font-size: 1em;
  background-color: transparent;
  color: var(--black);
  width: 100%;
}
#search-bar:focus {
  outline: none;
}

#search-clear{
  cursor: pointer;
  background-color: transparent;
  color: var(--aqua);
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
#search-clear:hover{
  color: var(--aqua-selected);
}

#webs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3em;
  container-type: inline-size;
  place-content: center;
}

@media (width < 60rem) {
  #webs {
    grid-template-columns: 1fr;
  }
}

#no-results-msg {
  font-size: 1.5em;
  font-weight: 200;
  line-height: 1.5;
  text-align: center;
  display: none;
}

.web-container {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 7.5em 4fr 1fr;
  grid-gap: .5em;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  width: auto;
  font-size: 1em;
  cursor: pointer;
  flex-shrink: unset;
}

.web-container:hover {
  cursor: pointer;
  background-color: var(--hoverwhite);
}

@container (width < 30rem) {
  .web-container {
    font-size: 0.7em;
  }
}

.web-titles {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: start;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
}

.web-title {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}

.username {
  font-size: 1.2em;
  font-weight: 200;
  margin: 0;
  line-height: 2em;
  width: fit-content;
  cursor: pointer;
}
.username:hover{
  color:var(--hovername);
  text-decoration: underline;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.5em;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  font-size: 1.2em;
  font-weight: 200;
  grid-column: span 3;
  grid-row: span 1;
}

.topic {
  background-color: var(--soft-gray);
  border-radius: 1.2rem;
  padding: 0.1em 0.5em;
  margin: 0;
  text-align: center;
  cursor: pointer;
}
.topic:hover{
  background-color: var(--black);
  color: var(--soft-gray);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.5em;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  font-size: 1.2em;
  font-weight: 200;
  grid-column: span 3;
  grid-row: span 1;
}

.tag {
  background-color: var(--soft-gray);
  color: var(--hovername);
  border-radius: 1.2rem;
  padding: 0.1em 0.5em;
  margin: 0;
  text-align: center;
  cursor: pointer;
}
.tag:hover{
  background-color: var(--black);
  color: var(--soft-gray);
}

.profile-image {
  align-self: center;
  justify-self: start;
  border-radius: 50%;
  width: 6em;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 0.2em solid var(--blue);
  cursor: pointer;
}
.profile-image:hover{
  border: 0.2em solid var(--blue-selected);
}

.like-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5em;
}

.like-count {
  font-size: 1.5em;
  font-weight: 200;
  margin: 0;
  line-height: 1.5;
}

.like-icon {
  width: 2.5em;
  justify-self: end;
  grid-row-start: 1;
  grid-column-start: 3;
  cursor: pointer;
  padding: 0.5em;
}
.like-icon:hover{
  transform: scale(1.1);
}
.dark-mode .like-icon {
  filter: invert(100%);
}

#home-btns-section{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-content: center;
  gap: 1em;
}