#search{
  display: grid;
  grid-template-columns: 29fr 1fr;
  min-width: 70%;
  min-height: 2.1em;
  border-radius: 2em;
  border: none;
  background-color: var(--white);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  padding: 0.5em 1em;
}
#search:focus-within {
  outline: .1em solid var(--blue);
}

#search-bar {
  border: none;
  font-size: 1em;
  background-color: transparent;
  overflow: ellipsis;
}
#search-bar:focus {
  outline: none;
}

#search-clear{
  cursor: pointer;
  background-color: transparent;
  color: var(--aqua);
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
#search-clear:hover{
  color: var(--aqua-selected);
}

#webs {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  justify-content: space-around;
  align-items: center;
  container-type: inline-size;
}

.web-container {
  background-color: var(--white);
  display: grid;
  grid-template-columns: 8.5em 4fr 1fr;
  grid-template-rows: 2fr 1.2fr;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  min-width: 40%;
  max-width: 80%;
  font-size: 1em;
}

@container (width < 30rem) {
  .web-container {
    font-size: 0.7em;
  }
}

.web-container:hover {
  cursor: pointer;
  background-color: var(--hoverwhite);
}

.web-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  flex-wrap: wrap;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
}

.web-title {
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
  line-height: 1.5;
}

.username {
  font-size: 1em;
  font-weight: 200;
  margin: 0;
  line-height: 2em;
  width: fit-content;
  cursor: pointer;
}
.username:hover{
  color:var(--hovername);
  text-decoration: underline;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 0.5em;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  font-size: 1.2em;
  font-weight: 200;
}

.topic {
  background-color: var(--soft-gray);
  border-radius: 1.2rem;
  padding: 0.1em 0.5em;
  margin: 0;
  text-align: center;
  cursor: pointer;
}
.topic:hover{
  background-color: var(--black);
  color: var(--soft-gray);
}

.profile-image {
  align-self: center;
  justify-self: start;
  border-radius: 50%;
  width: 7em;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 0.2em solid var(--blue);
  cursor: pointer;
}
.profile-image:hover{
  border: 0.2em solid var(--blue-selected);

}

.like-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5em;
}

.like-count {
  font-size: 1.5em;
  font-weight: 200;
  margin: 0;
  line-height: 1.5;
}

.like-icon {
  width: 2.5em;
  justify-self: end;
  grid-row-start: 1;
  grid-column-start: 3;
  cursor: pointer;
}
.dark-mode .like-icon {
  filter: invert(100%); /* Invert colors to appear lighter in dark mode */
}
