.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 60vh;
  max-height: 70vh;
  margin-top: 5%;
  gap: 4em;
  padding: 0 5em;
}

#login-web {
  max-width: 20em;
  min-width: 15em;
}

#login-btn {
  background-color: var(--aqua);
  border: none;
  border-radius: 2rem 2rem;
  color: var(--white);
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  max-width: 10em;
  min-width: 8em;
}

  #login-btn text {
    display: inline-flex;
    align-items: center;
  }

  #login-btn:hover {
    cursor: pointer;
    background-color: var(--aqua-selected);
  }

  #login-btn img {
    margin-left: 0.5em;
    height: 100%;
  }