:root {
  --aqua: #016767;
  --aqua-selected: #004d4d;
  --blue: #A9D3F2;
  --blue-selected: #3172B6;
  --soft-gray: #E8E7E8;
  --white: #FFFFFF;
  --hoverwhite: #E9E9E9;
  --gray: #727272;
  --hovername: #0000ff;
  --black: #000000;

  --aqua-dark: #01a5a5;
  --aqua-selected-dark: #008383;
  --blue-dark: #1f5087;
  --blue-selected-dark: #75aadb;
  --soft-gray-dark: #444444;
  --white-dark: #222222;
  --hoverwhite-dark: #333333;
  --gray-dark: #aaaaaa;
  --hovername-dark: #3172B6;
  --black-dark: #AAAAAA;

  --nav-height: 6em;
  --main-width: 90vw;

  background-color: var(--soft-gray);
  font-family: 'Saira Condensed', sans-serif;
}

.dark-mode {
  --aqua: var(--aqua-dark);
  --aqua-selected: var(--aqua-selected-dark);
  --blue: var(--blue-dark);
  --blue-selected: var(--blue-selected-dark);
  --soft-gray: var(--soft-gray-dark);
  --white: var(--white-dark);
  --hoverwhite: var(--hoverwhite-dark);
  --gray: var(--gray-dark);
  --hovername: var(--hovername-dark);
  --black: var(--black-dark);
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  padding: 0;
  margin: 0;
}

:root.dark-mode{
  background-color: var(--soft-gray-dark);
  color: #c0c0c0;
}

body.dark-mode {
  background-color: var(--soft-gray-dark);
  color: #c0c0c0;
}

button, a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--nav-height);
  width: var(--main-width);
  min-height: 100vh;
}

#main-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: var(--main-width);
  display: flex;
  align-items: center;
  height: var(--nav-height);
  background-color: var(--aqua);
  color: var(--white);
  padding: 0 5em;
  container-type: inline-size;
}

@container (width < 30rem) {
  #main-profile-image {
    font-size: 0.7em;
  }
}

.dropdown {
  justify-self: end;
  margin-left: auto;
}

.dropdown .dropbtn {
  font-size: 1em;  
  border: none;
  color: var(--white);
  padding: 14px 16px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;
  background-color: var(--white);
  font-size: 1.5em;
  min-width: 10em;
  right: 3em;
  box-shadow: 0 .5em 1em 0 rgba(0,0,0,0.2);
  z-index: 1;
  animation: slide-down 0.3s ease;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-content button {
  color: var(--black);
  padding: .8em 1em;
  width: 100%;
  text-align: left;
  justify-content: start;
  border: none;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: var(--soft-gray);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#main-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin-left: 1em;
}

.title {
  font-size: 2em;
  margin: 0;
  cursor: pointer;
}

#username {
  font-size: 1em;
  font-weight: 200;
  margin: 0;
  line-height: 2em;
  display: none;
  cursor: pointer;
}

#main-profile-image {
  align-self: center;
  justify-self: start;
  border-radius: 50%;
  width: 4.5em;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 0.2em solid var(--blue);
  display: none;
  cursor: pointer;
}

#webstagram-logo {
  color: var(--white);
  justify-self: end;
  margin-left: auto;
  width: 3.5em;
  cursor: pointer;
}

#popup-button {
  background-color: var(--aqua);
  border: none;
  border-radius: 1em;
  color: var(--white);
  padding: 1em 2em;
  text-transform: uppercase;
  opacity: 1;
}

#popup-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background:rgba(125, 125, 125, 0.9);
  z-index: 50;
}

#popup {
  height: 50vh;
  width: 50vw;
  border: none;
  border-radius: 2em;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: var(--soft-gray);
  margin-top: 3vh;
}

.disable-scrolling {
  overflow: hidden;
}

#alert{
  border: none;
  border-radius: 1em;
  min-width: 250px;
  display: none;
  place-content: center;
  color: var(--white);
  margin-top: 2vh;
}

#loader {
  position: fixed;
  width: 100vw;
  height: calc(100vh - var(--nav-height));
  top: var(--nav-height);
  opacity: 0.7;
  background-color: var(--blue);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  border: none;
}

#loader-logo {
  height: 10vh;
  width: 10vw;
  animation: logo 2s infinite
}

@keyframes logo {
  50% {
    transform: rotate(360deg) scale(4);
  }
}

.header {
  position: fixed;
  transform: translateY(0);
  width: var(--main-width);
  display: flex;
  flex-wrap: nowrap;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  background: linear-gradient(var(--soft-gray) 50%, transparent 100%);
  padding: 2em 5em;
}

.content {
  width: var(--main-width);
  margin: 7em 0;
}
 
.back-container {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: nowrap;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1em;
  font-weight: 900;
  margin: 0;
  text-decoration: none;
  color: var(--black);
  text-align: center;
}

.back-btn {
  min-height: .8em;
}
.dark-mode .back-btn {
  filter: invert(100%); 
}

.rotate {
  transition: transform 0.3s ease;
}

.rotate:hover {
  transform: rotate(180deg);
}

.primary-btn {
  background-color: var(--aqua);
  color: var(--white);
  text-decoration: none;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.primary-btn:hover {
  background-color: var(--aqua-selected);
}

.circular-btn {
  background-color: var(--aqua);
  color: var(--white);
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  aspect-ratio: 1/1;
}

.circular-btn:hover {
  background-color: var(--aqua-selected);
}