:root {
  --aqua: #016767;
  --aqua-selected: #004d4d;
  --blue: #A9D3F2;
  --blue-selected: #3172B6;
  --soft-gray: #E8E7E8;
  --white: #FFFFFF;
  --gray: #727272;

  --nav-height: 8em;

  background-color: var(--soft-gray);
  font-family: 'Saira Condensed', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  container-type: inline-size;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  cursor: pointer;
}

#main-page {
  padding: 2em 4em;
}

#main-nav {
  display: flex;
  align-items: center;
  height: var(--nav-height);
  background-color: var(--aqua);
  color: var(--white);
  padding: 0 4em;
}

@container (width < 30rem) {
  #main-nav {
    font-size: 0.7em;
  }
  #main-page {
    font-size: 0.7em;
  }
}

.dropdown {
  justify-self: end;
  margin-left: auto;
}

.dropdown .dropbtn {
  font-size: 1em;  
  border: none;
  color: var(--white);
  padding: 14px 16px;
  background-color: transparent;
  margin: 0;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;
  background-color: var(--white);
  min-width: 10em;
  right: 3em;
  box-shadow: 0 .5em 1em 0 rgba(0,0,0,0.2);
  z-index: 1;
  animation: slide-down 0.3s ease;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-content button {
  color: black;
  padding: .8em 1em;
  width: 100%;
  text-align: left;
  justify-content: start;
  border: none;
  background-color: transparent;
  font-size: 1em;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: var(--soft-gray);
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

#main-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin-left: 1em;
}

#title {
  font-size: 2em;
  margin: 0;
}

#username {
  font-size: 1em;
  font-weight: 200;
  margin: 0;
  line-height: 2em;
  display: none;
}

#main-profile-image {
  align-self: center;
  justify-self: start;
  border-radius: 50%;
  width: 4.5em;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 0.2em solid var(--blue);
  display: none;
}

#webstagram-logo {
  color: var(--white);
  justify-self: end;
  margin-left: auto;
  width: 3.5em;
  cursor: pointer;
}

#popup-button {
  background-color: var(--aqua);
  border: none;
  border-radius: 1em;
  color: var(--white);
  padding: 1em 2em;
  text-transform: uppercase;
  opacity: 1;
}

#popup-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background:rgba(125, 125, 125, 0.9);
  z-index: 50;
}

#popup {
  height: 50vh;
  width: 50vw;
  border: none;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: var(--soft-gray);
  margin-top: 3vh;
}

.disable-scrolling {
  overflow: hidden;
}

#alert{
  border: none;
  border-radius: 1em;
  min-width: 250px;
  display: none;
  place-content: center;
  color: var(--white);
  margin-top: 2vh;
}

#loader {
  position: fixed;
  width: 100vw;
  height: calc(100vh - var(--nav-height));
  opacity: 0.7;
  background-color: var(--blue);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#loader-logo {
  height: 10vh;
  width: 10vw;
  animation: logo 2s infinite
}

@keyframes logo {
  50% {
    transform: rotate(360deg) scale(4);
  }
}
 
.back-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
  margin: 0;
  text-decoration: none;
  color: black;
  text-align: center;
}

.back-btn {
  min-height: .8em;
}

.rotate {
  transition: transform 0.3s ease;
}

.rotate:hover {
  transform: rotate(180deg);
}