:root {
  --aqua: #016767;
  --aqua-selected: #004d4d;
  --blue: #A9D3F2;
  --soft-gray: #E8E7E8;
  --white: #FFFFFF;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Saira Condensed', sans-serif;
  container-type: size;
}

#loading-screen {
  background-color: var(--blue);
  border: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.9;
  z-index: 1;
  display: grid;
  place-content: center;
}

#webstagram-logo-loader {
  height: 100vh;
  animation: loading-screen 0.5s infinite;
}

@keyframes loading-screen {
  50% {
    height: 90vw;
  }
}

#main-nav {
  display: flex;
  align-items: center;
  height: 8em;
  background-color: var(--aqua);
  color: var(--white);
  margin: 0;
  padding: 0 4em;
}

@container (width < 30rem) {
  #main-nav {
    font-size: 0.65em;
  }

  #webstagram-logo-loader {
    width: 100vw;
  }
}

#main-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  margin-left: 1em;
}

#title {
  font-size: 2em;
  margin: 0;
}

#username {
  font-size: 1em;
  font-weight: 200;
  margin: 0;
  line-height: 2em;
}

#main-profile-image {
  align-self: center;
  justify-self: start;
  border-radius: 50%;
  width: 4.5em;
  aspect-ratio: 1/1;
  object-fit: cover;
  border: 0.2em solid var(--blue);
}

#webstagram-logo {
  color: var(--white);
  justify-self: end;
  margin-left: auto;
  width: 3.5em;
}
